@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Famous Quotes Application</h1>
    <p>This application will hopefully grab requests from AnimeChan's API.
    The web application is also connected to a local database which will store this data.</p>
</div>
